<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <section name="emailProcessing" type="EmailProcessing.EmailProcessingConfigurationSection, EmailProcessing" />
    </configSections>

    <emailProcessing 
        pickupLocation="d:\mail\pickup"
        failedLocation="d:\mail\failed"
        deliveredLocation="d:\mail\delivered"
        templateLocation="d:\mail\templates">
        <emailSender type="EmailProcessing.AmazonSESEmailSender, EmailProcessing" />
        <amazon key="1DDW85JA94AHBN3YX6G2" secret="XrwoionOEP5Dk2sKwoTMz+NuWHanEQ9nvIOkO0jE" />
    </emailProcessing>
    
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger - %message%newline"/>
            </layout>
        </appender>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="log.txt"/>
            <appendToFile value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger - %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="FileAppender"/>
        </root>
        <logger name="EmailProcessing">
            <level value="INFO"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
