<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="email" type="EmailProcessing.Configuration.EmailBuilderConfigurationSection, EmailProcessing" />
    </configSections>

    <email pickupLocation="c:\program files\EmailProcessing\pickup"
           emailBuilder="EmailProcessing.PickupDirectoryEmailSender, EmailProcessing, Culture=neutral" />
    
</configuration>